/* ######################################################################## */
/* profile */
/* ######################################################################### */

.profilewin{
  width: 40%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  color: var(--textColor);
}
.profileImgcontainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}

.file-upload {
    display: none;
}
.circle {
    border-radius: 50% !important;
    overflow: hidden;
    width: 128px;
    height: 128px;
    border: 8px solid rgba(255, 255, 255, 0.7);
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.p-image {
  margin-top: 70px;
  margin-left: -20px;
  font-size: 23px;
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}

input[type="email"],
input[type="text"]{
    width: 20rem;
    height: 1.8rem;
    border: none;
    border-bottom: 1px solid var(--borderColor);
    background-color: transparent;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    color: var(--textColor);
}

.produceSeed #seed{
  width: 17rem;
  height: 1.4rem;
}
.profileInfoEdit>div{
  margin-top: 20px;
}

.profileInfoEdit{
  margin-top: 20px;
  display: grid;
  place-items: center;
}
.editDetail{
  margin-top: 50px;
  margin-right: 50px;
}

.otp{
  display: none;
}